<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr4.Runtime.Standard" version="4.13.0" targetFramework="net48" />
  <package id="Atlassian.SDK" version="13.0.0" targetFramework="net48" />
  <package id="CoreCLR-NCalc" version="2.2.110" targetFramework="net48" />
  <package id="Microsoft.ApplicationInsights" version="2.9.1" targetFramework="net471" />
  <package id="Microsoft.ApplicationInsights.Agent.Intercept" version="2.4.0" targetFramework="net471" />
  <package id="Microsoft.ApplicationInsights.DependencyCollector" version="2.9.1" targetFramework="net471" />
  <package id="Microsoft.CodeCoverage" version="17.6.3" targetFramework="net48" />
  <package id="Microsoft.Extensions.CommandLineUtils" version="1.1.1" targetFramework="net461" />
  <package id="Microsoft.NET.Test.Sdk" version="17.6.3" targetFramework="net48" />
  <package id="Microsoft.TestPlatform.TestHost" version="17.6.3" targetFramework="net48" />
  <package id="NCalcSync" version="3.8.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="NUnit3TestAdapter" version="4.5.0" targetFramework="net48" />
  <package id="PanoramicData.NCalcExtensions" version="1.20.99" targetFramework="net48" />
  <package id="RestSharp" version="106.12.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.5.0" targetFramework="net471" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="TimeZoneConverter" version="6.1.0" targetFramework="net48" />
</packages>